.span4 thead {
    display: none;
}
.alignright {
    text-align: right !important;
}
.carousel-item {
    height: 200px;
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-caption h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.carousel-caption p {
    font-size: smaller;
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.movie-poster {
    height: 300px;
    width: 200px;
}
.media {
    margin: 0;
    cursor: pointer;
}
.dashboard .media-object {
    height: 45px;
    width: 45px;
}
.dashboard .span4 table{
    table-layout: fixed;
}
.dashboard .span4 td{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dashboard .span4 #downloads_table_body td:last-child {
    width: 14px;
}
.dashboard .span4 #nzbgetdownloads_table_body td:last-child {
    width: 14px;
}

.widget {
	overflow: hidden;
	overflow-x: hidden;
	border: 2px solid #FFFFF;
	border-radius: 10px;
	padding-left: 5px;
	margin-bottom: 5px;
	width: 31%;
	margin-right: 1%;
	float: left;
	background-color: rgba(255, 255, 255, 0.7);
	scrollbar-base-color:#ff6347;
}

.widgetentry {
	height: 75px;
	font-size: 12px;
	background-size: 100% 100%;
	margin-bottom: 5px;
	display: none;
	color: white;
}

.widgetentryinfo {
	background-color: rgba(0, 0, 0, 0.7);
}

.clear {
	clear: both;
}

.addtosickbeard {
	width: 25px;
	height: 25px;
	float: right;
}

.dashcontent {
	background-color: transparent;
}

h3 {
	text-align: center;
}